import logging

send_mail = False  # debug variable to not accidentally send emails

# icinga config
icinga_host = ''
icinga_apiuser = ''
icinga_apipassword = ''

# whitelist config, full path to whitelist-file
use_whitelist = ''

# email config
subject = ''
from_addr = ''
smtp_host = 'localhost'
smtp_port = 0
smtp_username = ''
smtp_password = ''

host_colors = {0: "#44BB77",
               1: "#44BB77",
               2: "#FF5566",
               3: "#FF5566"}

service_colors = {0: "#44BB77",
                  1: "#FFAA44",
                  2: "#FF5566",
                  3: "#CC77FF"}

# log config
log_file = 'summary.log'
log_format = '%(asctime)s - %(levelname)s - %(message)s'
log_level = logging.DEBUG
